.tabdiv
{ 
	width:100%; 
	margin:1em auto; 
	padding-bottom: 0px; 
	border-right: #b2c9d3 1px solid; 
	border-top: #b2c9d3 1px solid; 
	border-left: #b2c9d3 1px solid; 
	border-bottom: #b2c9d3 1px solid; 
	background: #ffffff; 
} 

/*tab头的样式*/ 
.tabHeads
{ 
	padding-left: 0px; 
	height: 26px; 
	margin: 1px 0px 0px; 
	line-height: 26px; 
} 
							

/*已选tab头（超链接）的样式*/ 

.curtab 
{ 
	padding-top: 0px; 
	padding-right: 10px; 
	padding-bottom: 0px; 
	padding-left: 10px; 
	border-right: #b2c9d3 1px solid; 
	font-weight: bold; 
	float: left; 
	cursor: pointer; 
	background: #ffffff; 
	font-family:Arial,sans-serif;
	color: #0B3A8A; 
} 

/*未选tab头（超链接）的样式*/ 

.tabs 
{ 
	border-right: #c1d8e0 1px solid; 
	padding-top: 0px; 
	padding-right: 10px; 
	padding-bottom: 0px; 
	padding-left: 10px; 
	font-weight: normal; 
	float: left; 
	cursor: pointer; 
	font-family:Arial,sans-serif;
	color: #ffffff; 
	background-color:#006699;
} 


